
@{
    ViewData["Title"] = "Index";
    Layout = "../Shared/_Layout.cshtml";
}

<h1 class="cover-heading">Azure Cognitive Services</h1>
<p class="lead">Explore toda a capacidade dos Serviços Cognitivos do Azure através desse site!</p>

<script>
    let menu = document.querySelectorAll('.nav-link')[0];

    if (menu) {
        menu.classList.add('active')
    }
</script>

